/*font style, font size, and line height for entire page*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}



/*styling of jumbotron header*/
.jumbotron {
  text-align: center;
  background-color: rgb(210, 226, 240);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/*padding for p's in header*/
p {
  padding-top: 20px;
}

/*display settings for class row (applied to each time block)*/
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/*border style and text alignment for labels*/
label {
  border: solid;
  border-width: 1px;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

/*bottom border removed from all labels except last one using class btm*/
.btm {
  border-bottom: none;
}

/*bottom border removed from all buttons except the last one on page*/
#button8 {
  border-bottom: none;
}

#button9 {
  border-bottom: none;
}

#button10 {
  border-bottom: none;
}

#button11 {
  border-bottom: none;
}

#button12 {
  border-bottom: none;
}

#button1 {
  border-bottom: none;
}

#button2 {
  border-bottom: none;
}

#button3 {
  border-bottom: none;
}

#button4 {
  border-bottom: none;
}
